<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @component.name %>
</p>

<%if session[:user_admin]==1%>
<%= link_to 'Edit', edit_component_path(@component) %> |
<%end%>
<%= link_to 'Back to Shop', shop_path %>
