  <div id="content">
  	<h1>FAQ</h1>
  	<ol class="FAQ">
  		<li> <a href="#what">What is Guess Me Out? Who are you?</a> </li>
  		<li> <a href="#start">I'm ready to play. How do I get started?</a> </li>
  		<li> <a href="#image">I want to use the avatar I created in my favourite online social platform, can I?</a> </li>
  		<li> <a href="#team">How can I get in touch with the team?</a> </li>
		<li> <a href="#issues">I found some problems while playing. I think it's a bug.</a> </li>
		
  	</ol>

  	<hr>

	<ol class="FAQ">
		<li>
			<a id="what">What is Guess Me Out? Who are you?</a>
			<p class="FAQ">GMO is a game developed for Android&trade;. Development started in September 2012 for the Software Development Labs subject in University of Porto, Faculty of Engineering. As of the writing of this, we are a team of 7 students working to release a stable demo of our project.</p>
			<p class="FAQ">We are looking for partners to help us take this app to the next level. The team is motivated to continue the development outside of the course and we already have several ideas for improving the current app, which were unable to be developed due to the tight schedule of this particular course and the workload of the whole semester.</p>
		</li>
		<li>
			<a id="start">I'm ready to play. How do I get started?</a>
			<p class="FAQ">There should be an icon on the top of this page that links to the page of our app on Google Play. The first thing you need to do is install our app, then create a new account and finally run the app and look for people playing nearby. You can also play with anyone in the world if you happen to be the only one around that plays it.</p>
		</li>
		<li>
			<a id="image">I want to use the avatar I created in my favourite online social platform, can I?</a>
			<p class="FAQ">
				Please feel free to use the avatar you created on the web as long as you don't:
				<ul>
					<li>Alter the avatar;</li>
					<li>Publish it as your own (always link back to us when possible);</li>
					<li>Use the avatar or our name in anyway that creates a sense of endorsement from our part, unless otherwise allowed by us.</li>
				</ul>
			</p>
		</li>
		<li>
			<a id="team">How can I get in touch with the team?</a>
			<p class="FAQ">
				The best way to reach us is through <a href="https://www.facebook.com/GuessMeOutApp">our page</a>. Leave us a message and we'll get back to you as soon as possible.
			</p>
		</li>
		<li>
			<a id="issues">I found some problems while playing. I think it's a bug.</a>
			<p class="FAQ">
				Most of the team members are Human, therefore you may happen to find a bug. We appologise for any inconvinience it may have caused you. In order to correct such problems, please <a href="https://github.com/ei09045/Guess-Me-Out/issues">open an issue here</a>.
			</p>
		</li>
	</ol>
  </div>