<div id="content">

	<div id="rightpane">
		<%= image_tag("guys.png", :alt => "Panflet") %>
	</div>
	<div id="leftpane">
		<h1>Welcome</h1>
		<p>
			Engage in our social experience at your favourite bar, café, party or shopping center. Guess Me Out is the new way to meet people while you play!
			Guess Me Out is a multiplayer game for handhelds where two players battle each other using questions to unvail the identity of their opponent. Just install our app, step outside, and search for other fellow players!
		</p>
		<p>
			For a more thorough explanation of the concept and gameplay, please head to the Help and About sections. We hope you have as much fun playing the game as we have making it for you! Press the download button to download the android application.
          <!--<%= link_to image_tag("download-button.png", :class => 'social_img'), "http://www.facebook.com/guessmeoutapp" %>-->
		</p>
	</div>

	<p></p>
	<p></p>
</div>