  <div id="content">
  <h1 class="center">Home</h1>

  <p>Welcome to Guess Me Out!!
	Guess Me Out is a multiplayer Android game where two players battle each other using questions to find out who they're playing against!</p>
  <p>For more information see How to Play. Hope you have as much fun playing the game as we have making it!</p>
	<p class="center"><%= image_tag("page_under_construction.gif", :alt => "Page Under Construction") %></p>
  </div>