<div id="content">

<div id="leftpane">
	<h1>Home</h1>
	<p>Welcome to Guess Me Out!!
	Guess Me Out is a multiplayer Android game where two players battle each other using questions to find out who they're playing against!</p>
	<p>For more information see How to Play. Hope you have as much fun playing the game as we have making it!</p>
	<p><%= image_tag("128773281749417353.jpg", :alt => "Page Under Construction") %></p>
</div>
<div id="rightpane">
	<%= image_tag("smartphone.png", :alt => "smartphone") %>
</div>
<p></p>
<p></p>
</div>