<div id="content">
	
	<div id="rightpane">
		<%= image_tag("smartphone.png", :alt => "smartphone", :class => "smartphone") %>
	</div>

	<div id="leftpane">
		<p></p>
		<h1>Global Statistics</h1>
		<p>
			This page keeps track of our server stats like the number of players playing today and the top countries in points and number of players.
		</p>
      <script type="text/javascript" src="http://jk.revolvermaps.com/r.js"></script><script type="text/javascript">rm_f1st('7','350','false','false','000000','a1089gwqyur','false','007eff');</script><noscript><applet codebase="http://rk.revolvermaps.com/j" code="core.RE" width="350" height="350" archive="g.jar"><param name="cabbase" value="g.cab" /><param name="r" value="false" /><param name="n" value="false" /><param name="i" value="a1089gwqyur" /><param name="m" value="7" /><param name="s" value="350" /><param name="c" value="007eff" /><param name="v" value="false" /><param name="b" value="000000" /><param name="rfc" value="true" /></applet></noscript>

      <script type="text/javascript" src="http://jk.revolvermaps.com/2/0.js?i=aa4c3z5m60s&amp;d=3&amp;p=1&amp;b=0&amp;w=293&amp;g=3&amp;f=verdana&amp;fs=12&amp;r=0&amp;c0=362b05&amp;c1=375363&amp;c2=000000&amp;ic0=0&amp;ic1=0" async="async"></script>
		<div id="stats">
			<ul>
				<li>Games today worldwide: <strong>3.5k</strong></li>
				<li>Games this week worldwide: <strong>15.4k</strong></li>
				<li>Active accounts in the past 30 days: <strong>17.8k</strong></li>
			</ul>
		</div>
		<p></p>
		<div class="illustration">
			<%= image_tag("piechartimage.png", :alt => "piechartimage") %>		
		</div>
		
	</div>

</div>