<div id="content">
	
	<div id="rightpane">
		<%= image_tag("smartphone.png", :alt => "smartphone", :class => "smartphone") %>
	</div>

	<div id="leftpane">
		<p></p>
		<h1>Global Statistics</h1>
		<p>
			This page keeps track of our server stats like the number of players playing today and the top countries in points and number of players.
		</p>
		<div id="stats">
			<ul>
				<li>Games today worldwide: <strong>3.5k</strong></li>
				<li>Games this week worldwide: <strong>15.4k</strong></li>
				<li>Active accounts in the past 30 days: <strong>17.8k</strong></li>
			</ul>
		</div>
		<p></p>
		<div class="illustration">
			<%= image_tag("piechartimage.png", :alt => "piechartimage") %>		
		</div>
		
	</div>

</div>