body{
	background-color: #091629;
  font-family: 'Orienta', sans-serif;
  background-image: url('bkg.png');
  width: 900px;
  margin: auto;
  box-shadow: 0px 0px 10px 10px rgba(0,0,0,0.25);
  color: #223;
}

a:link {
  text-decoration:none;
  color: #d08b13;
}
a:visited {
  text-decoration:none;
  color: #d08b13;
}
a:hover {
  text-decoration:underline;
  color: #d04813;
}
a:active {
  text-decoration:underline;
  color: #d04813;
}

a img {
  border: none;
}

div{
  background-color: transparent;
  margin: auto;
}

p {
  font-size: 0.8em;
}

p.FAQ, p.FAQ ul li {
  font-size: 1.2em;
}


.Sign_Form{
	text-align: left;
    margin:auto;
    padding: 20px;
	width:500px;
	background-color: rgba(0, 0, 0, .2);
	padding-bottom:20px;
	padding-top:2px;

}

.Signup_Errors{
	list-style-type: none;
	text-align:left;
	margin-left:66px;
	color:red;
}

.Main_Header{
	/*box-shadow: 5px 5px 5px #888888;*/
  height: 250px;
  position: relative;
  background-color: #182b48; /* Dark blueish gray */  
}

div.logo{
  height: 100%;
}

.logo img{
  height: 100%;
}

.tab{
  position: absolute;
  bottom: 0px;
  left: 0px;
  height: 30px;
  width: 100%;
}

  div.tab_selected{
    background-color: #eef2f8;
  }

  div.tab_unselected{
    background-color: #d4deec;
  }

  .tab_selected, .tab_unselected{
    background-size: 100%;
    text-align: center;
    font-size: 0.85em;
    display: inline-block;
    width: 100px;
    line-height: 30px;
  }

    div.tab_selected:hover,
    div.tab_unselected:hover,
    div#search:hover{
      background-color: #e6f8ff;
    }

  a.tab_links{
      color: #789;
      text-decoration: none;
  }

  div#search{
    float: right;
    background-color: #e3e8ef;
    border-radius: 3px;
    height: 20px;
    box-shadow: 2px 2px 3px 1px rgba(0,0,0,0.15) inset;
    width: 29%;
    margin-top:5px;
    margin-right:5px;
  }

  div#search input{
      border: none;
      background: rgba(0,0,0,0);
      width: 45%;
      text-align:center;
  }
div#search select{
    border: none;
    background: lightgrey;
    height:auto;
    width:40%;
}

    div#search input[type="text"]{
      
      height: 100%;
    }

    div#search input[type="submit"]{
      background-image: url('search_icon.png');
      cursor:pointer;
      width: 20px;
    }

    div.user_search {
      margin-top: 12px;
    }

    div.user_search span {
      margin-right: 5px;
      font-size: 0.8em;
    }

      div.user_search span span{
        color: #679;
      }

    div.user_search div#username{
      float: none;
      font-size: 1.2em;
      text-decoration: none;
      margin-bottom: -5px;
    }



div.avatar_search {
    float: left;
}

div.social{
  height: 30px;
  float: right;
}
  .social_img{
    height: 100%;
  }

div.nav{
  color: #d08b13;
  width: 100%;
  height: 30px;
  font-size: 0.8em;
  background-color: #182b48; /* Dark blueish gray */
}
.nav li{
  display: inline;
  margin-right:5px;
}

.nav_links{
  color: rgb(255, 200, 0);
	text-decoration: none;
}

.notice, .valid_notice, .invalid_notice{
	width: 400px;
  height: 10px;
	margin:auto;
}
.notice, .invalid_notice p, .valid_notice p{
	text-align:center;
}

.active{
    border-radius: 0;
}

.notice{
  float: left;
  height: auto;
  width: 100%;
  font-size: 0.8em;
}

  .notice span{
    min-width: 100px;
    max-width: none;
    border-radius: 2px;
    margin-top: 2px;
    line-height: 30px;
    color: white;
  }

  #normal_notice span{
  	background-color: #36bcff;
    border:1px solid #227ca9;
    padding: 3px;
  }

  #invalid_notice span{
  	background-color: #f14040;
  	border:1px solid #bb2929;
  }
  #valid_notice span{
  	background-color: #5cd648;
  	border:1px solid #389828;
  }

  #normal_notice span:empty, #invalid_notice span:empty, #valid_notice span:empty{
    background-color: transparent;
    border:0px none;
  }

.center{
  text-align: center;
}

#content{
	margin:auto;
  background-color: #eef2f8;
  padding: 30px;
  min-height: 450px;
}

.expanded .plus {display:none;}
.collapsed .minus {display: none;}
.container {margin-bottom: 0px;}

#rightpane{
  padding-left: 10px;
  float: right;
}

#leftpane {
  width: 100%;
  min-height: 450px;
}

  #content img{
    max-width: 100%;
  }

.download_img{
    width: 50px;
    height: 50px;
}

div#credits{
  color: #AAA;
  font-size: 0.7em;
  padding: 5px;
  background-image: url('blackpixel.png');
}

 .email_edit{

     color:red;
    cursor:pointer;
}

 .name_edit{
    color:red;
    cursor:pointer;
}

 .birthdate_edit{
    color:red;
    cursor:pointer;
}

 .sex_edit{
    color:red;
    cursor:pointer;
}

 .location_edit{
    color:red;
    cursor:pointer;
}

.password_edit{
    color:red;
    cursor:pointer;
}

.admin_edit{
    color:red;
    cursor:pointer;
}

.credits_edit{
    color:red;
    cursor:pointer;
}

.coin_case{
    width: 75px;
}

.labelFormularioValor
    {
        font-family:Segoe UI, Tahoma, Sans-Serif;
        font-size:10pt;
        color:#000000; 
    }
         
    .divTab
        {
        border-right: #A0C0E7 1px solid;
        border-left: #A0C0E7 1px solid; 
        border-bottom: #A0C0E7 1px solid;
        background: -webkit-gradient(linear, left top, left bottom, from(#DFEEFF), to(#B4D4FF)); /* For Webkit Browsers */
        background: -moz-linear-gradient(top, #DFEEFF, #B4D4FF); /* for Firefox */
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#DFEEFF', endColorstr='#B4D4FF'); /* for IE */
    }
 
    .primeiraTab
    {
        border-left: #A0C0E7 1px solid; 
        border-bottom: #A0C0E7 1px solid;
        border-top: #A0C0E7 1px solid; 
        background-color:#DFEEFF;
        cursor:pointer;
    }
 
    .meioTab
    {
        border-left: #A0C0E7 1px solid;
        border-bottom: #A0C0E7 1px solid;
        border-top: #A0C0E7 1px solid; 
        background-color:#DFEEFF;
        cursor:pointer;
    }
 
    .ultimaTab
    {
        border-left: #A0C0E7 1px solid;
        border-bottom: #A0C0E7 1px solid;
        border-right: #A0C0E7 1px solid;
        border-top: #A0C0E7 1px solid;
        background-color:#DFEEFF;
        cursor:pointer;
    }




/************************* media queries *******************************/

@media only screen and (max-width:499px) {
  #content{
    min-width: 0px;
  }
  #rightpane, #leftpane{
    width: 100%;
    float: none;
    min-height: 450px;
  }
  div.tab{
    height: auto;
    position: relative;
  }
    div.tab div, div.tab span{
      margin: 0px;
      display: block;
      width: auto;
      position: relative;
      width: auto;
      padding-left: 5px;
      padding-right: 5px;
    }
    div#search{
      width: 100%;
      float: none;
      padding: 0px;
    }

  div.nav, div.social{
    float: none;
  }
}

@media only screen and (max-width: 900px) {
  body{
    width: 100%;
  }
  .Main_Header{
    height: auto;
  }
  div.logo{
    height: auto;
  }
    div.logo img{
      width: 100%;
      height: auto;
    }

  #leftpane{
    width: 100%;
  }
}

/*svg {
  background-image: url('manequin.png');
  background-size: 100%;
  width: 256px;
  height: 256px;
}*/

@media only screen and (min-width: 980px) {

}

h1{
    line-height:70%;
}
h3{
    line-height:70%;
}

.editsvg { float:none }
.svgwindow {
    float:left;
    height:auto;
    background-image: url('manequin.png');
    background-size: 100%;
    background-repeat: no-repeat;
}
.svgwindow_user {
    width:100%;

}
.comp{
	width: 580px;
	float:left;
}

.save_avatar {
    text-decoration:none;
    color: #d08b13;
}

.compnav{
	width: 120px;
	float:left;
}
.compnav a{
    display:block;
	width: 100px;
	padding-right: 20px;
	line-height: 30px;
	color: #000000;
	font-size: 0.85em;
	text-align: right;
	margin:0px;
    text-decoration: none;
	background-color: #FAFAFA;
	float:left;
}
.compnav a.selected{
	background-color: #E3E8EF;;
}
.component { 
	float:left;
	width:380px;
	height: 270px;
    background: -webkit-gradient(linear, left top, left bottom, from(#DFEEFF), to(#B4D4FF)); /* For Webkit Browsers */
    background: -moz-linear-gradient(top, #DFEEFF, #B4D4FF); /* for Firefox */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#DFEEFF', endColorstr='#B4D4FF'); /* for IE */
	display: none;
}

svg.svgpreview {
    cursor:pointer;
}

div.svgpreviewshow
{
    float:left;
    width:200px;
    height:200px;
}

div#name
{
    text-align:center;
}
