body{
	background-color: black;
  font-family: 'Montserrat', sans-serif;
  background-image: url('bkg.png');
  background-repeat: repeat-x;
  width: 980px;
  margin: auto;
}

div{
  background-color: transparent;
  margin: auto;
}

p {
  font-size: 0.8em;
}


.Sign_Form{
	text-align: left;
    margin:auto;
    padding: 20px;
	width:500px;
	background-color: rgba(0, 0, 0, .2);
	padding-bottom:20px;
	padding-top:2px;

}

.Signup_Errors{
	list-style-type: none;
	text-align:left;
	margin-left:66px;
	color:red;
}

.Main_Header{
	/*box-shadow: 5px 5px 5px #888888;*/
  height: 250px;
  position: relative;
  background-image: url('blackpixel.png');
}

div.logo{
  height: 100%;
}

.logo img{
  height: 100%;
}

.tab{
  position: absolute;
  bottom: 0px;
  left: 0px;
  padding: 0px 20px;
  height: 30px;
}

div.tab_link{
  background-color: #e3f6ff;
}

span.tab_link{
  background-color: #abdbf3;
  margin-top: -5px;
}

.tab div, .tab span{
    background-size: 100%;
    text-align: center;
    font-size: 0.85em;
    display: inline-block;
    width: 100px;
    line-height: 30px;
 }

 .tab a {
 }

a.tab_links{
    color: black;
    text-decoration: none;
}

div.social{
  height: 30px;
  float: right;
}
  .social_img{
    height: 30px;
  }

div.nav{
  color: rgb(255, 200, 0);
  width: 250px;
  float: right;
  bottom: 0px;
  line-height: 0px;
}
.nav li{
  display: inline;
  margin-right:5px;
}

.nav_links{
  color: rgb(255, 200, 0);
	text-decoration: none;
}

.notice, .valid_notice, .invalid_notice{
	width: 400px;
  height: 10px;
	margin:auto;
}
.notice, .invalid_notice p, .valid_notice p{
	text-align:center;
}

.notice{
	background-color: transparent;
  float: right;
}

.active{
    border-radius: 0;
}

.invalid_notice{
	background-color: #FFCCCC;
	border:1px solid red;
}
.valid_notice{
	background-color: #CCFFCC;
	border:1px solid green;
}

.center{
  text-align: center;
}

/*.User_Header{

	background-color: rgba(0, 0, 0, .2);
	border-radius: 18px;
	margin:auto;
	width:220px;
	text-align:center;
} */

/*.help, .avatar{
	width : 200px;
	color: #C4C1BD;
    margin-bottom : 10px;
	background-color: rgba(0, 0, 0, .2);
	border-radius: 18px;
	box-shadow: 5px 5px 5px #888888;
}

.helpcontent ul, .avatarcontent ul{
padding:0px;
list-style-type:circle;
}

.helpcontent li, .avatarcontent li{
padding-left: 5px;
padding-bottom: 5px;
}

.navtitleavatar, .navtitlehelp {
  cursor:pointer;
  width : 200px;
  color: white;
  font-weight: bold;
  text-align: center;
  font-size : 1.4em;
  background-color : #010101;
  border-radius: 18px;
  box-shadow: 5px 5px 5px #888888;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}*/

#content{
	margin:auto;
  background-color: #e3f6ff;
  padding: 30px;
	/*border-radius: 18px;
	box-shadow: 5px 5px 5px #888888;*/
}

.expanded .plus {display:none;}
.collapsed .minus {display: none;}
.container {margin-bottom: 0px;}

#rightpane{
  text-align: right;
  float: right;

}
  #rightpane img.smartphone {
    width: 250px;
  }

#leftpane {
  width: 900px;
  min-height: 450px;
}

div#credits{
  color: #222;
  font-size: 0.7em;
  padding: 5px;
}

 .email_edit{
     text-shadow: #333333;
     color:red;
    cursor:pointer;
}

 .name_edit{
    text-shadow: #333333;
    color:red;
    cursor:pointer;
}

 .birthdate_edit{
    text-shadow: #333333;
    color:red;
    cursor:pointer;
}

 .sex_edit{
    text-shadow: #333333;
    color:red;
    cursor:pointer;
}

 .location_edit{
    text-shadow: #333333;
    color:red;
    cursor:pointer;
}


/************************* media queries *******************************/

@media only screen and (max-width:499px) {
  #rightpane, #leftpane{
    width: 100%;
    float: none;
  }
  div.tab{
  }
    div.tab div, div.tab span{
      margin: 0px;
      display: block;
    }
  div.nav, div.social{
    float: none;
  }
}

@media only screen and (max-width: 980px) {
  body{
    width: 100%;
  }
  .Main_Header{
    height: auto;
  }
  div.logo{
    height: auto;
  }
    div.logo img{
      width: 100%;
      height: auto;
    }

  #content img{
    max-width: 100%;
  }

  #leftpane{
    width: 100%;
  }
  #rightpane{
    width: 50%;
  }
    #rightpane img.smartphone{
      width: 50%;
    }
}

@media only screen and (min-width: 980px) {

}