body{
	background-color: black;
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
  background-image: url('bkg.png');
  background-repeat: repeat-x;
  width: 980px;
  margin: auto;
}

div{
  background-color: transparent;
  margin: auto;
  width: 960;
}

p {
  font-size: 0.8em;
}


.Sign_Form{
	text-align: left;
    margin:auto;
    padding: 20px;
	float: left;
	width:500px;
	background-color: rgba(0, 0, 0, .2);
	padding-bottom:20px;
	padding-top:2px;

}

.Signup_Errors{
	list-style-type: none;
	text-align:left;
	margin-left:66px;
	color:red;
}

.Main_Header{
	padding:0 20px;
    position: relative;
	/*box-shadow: 5px 5px 5px #888888;*/

}

.Main_Header {
  height: 250px ;
}

.logo{
  height: 85%;
}

/*@media only screen and (max-height: 599px) {
    .Main_Header{
        height: 200px;
    }
    .Main_Header .logo{
        height:50px;
        width:250px;
    }
    #content{
      width: 100%;
      padding: 0px;
    }
}

@media only screen and (max-height: 899px) {
    .Main_Header{
        height: 300px;
    }
    .Main_Header .logo{
        height:100px;
        width:300px;
    }
    #content{
      width: 100%;
      margin: 0px;
      padding: 0px;
    }
}

@media only screen and (min-height: 900px) {
    .Main_Header{
        height: 400px;
    }
    .Main_Header .logo{
        height:150px;
        width:450px;
    }
    #content{
      width: 960px;
      padding: 20px;
    }
}*/


.Main_Header .logo{
	float:left;
	margin-top:4px;
}

.nav{
	list-style-type: none;
    right:5px;
	/*font-size : 1.4em;*/
	color:#ff4500;
    position: absolute; bottom: -21px;
}
.nav li{
	display: inline;
	margin-right:5px;

}

.tab{
    list-style-type: none;
    position: absolute; bottom: -21px;
}

.tab div{
  background-image: url('tab_up.png');
}

.tab span{
  background-image: url('tab_down.png');
}

.tab div, .tab span{
    background-color: transparent;
    background-repeat:no-repeat;
    text-align: center;
    font-size:1.2em;
    display: inline-block;
    height: 45px;
    width: 175px;
    line-height: 45px;
    margin-left: -20px;
 }

 .tab a {
 }

.tab_links{
    color: black;
    text-decoration: none;
}

.nav_links{
	color: #ff8c00;
	text-decoration: none;
}

.notice, .valid_notice, .invalid_notice{
	width: 400px;
  height: 10px;
	margin:auto;
}
.notice, .invalid_notice p, .valid_notice p{
	text-align:center;
}

.notice{
	background-color: transparent;
  float: right;
}

.active{
    border-radius: 0;
}

.invalid_notice{
	background-color: #FFCCCC;
	border:1px solid red;
}
.valid_notice{
	background-color: #CCFFCC;
	border:1px solid green;
}

/*.User_Header{

	background-color: rgba(0, 0, 0, .2);
	border-radius: 18px;
	margin:auto;
	width:220px;
	text-align:center;
} */

.center{
	text-align: center;
}

/*.help, .avatar{
	width : 200px;
	color: #C4C1BD;
    margin-bottom : 10px;
	background-color: rgba(0, 0, 0, .2);
	border-radius: 18px;
	box-shadow: 5px 5px 5px #888888;
}

.helpcontent ul, .avatarcontent ul{
padding:0px;
list-style-type:circle;
}

.helpcontent li, .avatarcontent li{
padding-left: 5px;
padding-bottom: 5px;
}

.navtitleavatar, .navtitlehelp {
  cursor:pointer;
  width : 200px;
  color: white;
  font-weight: bold;
  text-align: center;
  font-size : 1.4em;
  background-color : #010101;
  border-radius: 18px;
  box-shadow: 5px 5px 5px #888888;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}*/

#content{
	margin:auto;
  background-color: #ddebff;
  padding-left: 30px;
  padding-right: 30px;
	/*border-radius: 18px;
	box-shadow: 5px 5px 5px #888888;*/
}

.expanded .plus {display:none;}
.collapsed .minus {display: none;}
.container {margin-bottom: 0px;}

#rightpane{
  text-align: right;
  height: 
}
  #rightpane img {
    
    width: 300px;
  }

#leftpane {
  width: 600px;
  float:left;
}


